<header id="header">
  <div class="logo" style="color: rgb(193, 121, 241);">
   <img alt="logo" src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSXZ4gKUQ0rHm5bKEbQMwjkuz8519SB6gXsjVLxAWlN5o1y4-WKOhwMSfvUhTogtgJvsow&usqp=CAU' height="100px" weight="100px"><strong>E-Commerce BuyClothes </strong>
   <nav class=" float-right navbar navbar-expand-lg navbar-white bg-white">
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav"style="text-align: center;list-style-type:none;">
        <li class="nav-item">
          <a class="nav-link" routerLink="home" routerLinkActive="active">Home</a>&nbsp;&nbsp;
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="about" routerLinkActive="active">About</a>&nbsp;&nbsp;
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="items" routerLinkActive="active">All Items</a>&nbsp;&nbsp;
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="itemupdates" routerLinkActive="active">Update</a>&nbsp;&nbsp;
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="register" routerLinkActive="active">Register</a>&nbsp;&nbsp;
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="login" routerLinkActive="active">Login</a>&nbsp;&nbsp;
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="home" routerLinkActive="active">Logout</a>&nbsp;&nbsp;
        </li>
      </ul>
    </div>
  </nav>
  </div>
</header>
<hr>
<div class='container-fluid' style="text-align:center">
<h1 style="color:rgb(68, 199, 199)">Welcome to Online Cloth Store</h1>
</div>
<hr>
<div style="margin-bottom: 10%;padding:50 50 50 50;">
<router-outlet></router-outlet>
</div>
<footer class="fixed-bottom bg-white">
<div class="footer-copyright text-center bg-white py-3">
  <br>
</div>
</footer>
